/* .card {
    &img {
        height: 100px;
        width: 400px;
    }
} */


.card {

    .titulo {
        display: flex;
        align-items: center;
        gap: 5px;

        & svg {
            height: 30px;

        }

        .gostei {
            fill: darkred;
        }
    }

    & button {
        background-color: none;
        border: none;
        border: 1px solid gray;
        border-radius: 5px;
    }

    & img {
        height: 400px;
        width: 400px;
    }
}